*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: "open Sans",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bdc3c7;
}

.about-section{
    background: url('../images/About_us_pic.jpg') no-repeat left;
    background-size: 55%;
    background-color: #E0E0E0;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container
{
    width: 55%;
    float: right;
    background-color: #FFFEFf;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 20px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 60px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}